@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

section {
  padding: 100px;
}

.banner {
  position: relative;
  min-height: 100vh;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner h2 {
  font-size: 3em;
  color: #fff;
  font-weight: 500;
  line-height: 1.5em;
}

.banner h2 span {
  font-size: 1.5em;
  font-weight: 700;
}

.banner h3 {
  font-size: 1.5em;
  color: #fff;
  font-weight: 500;
}

.btn {
  position: relative;
  background: #2196f3;
  display: inline-block;
  color: #fff;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
}

.face-img {
  max-width: 350px;
  max-height: 350px;
  border-radius: 40%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  height: 75px;
}

header.sticky {
  background-color: #fff;
  padding: 20px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.toggle {
  display: none;
}

header .logo {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

header.sticky .logo {
  color: #111;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
}

header.sticky ul li a {
  color: #111;
}

.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #111;
}

.heading h2 {
  font-weight: 600;
  font-size: 30px;
}

.about .content,
.contactme .content {
  display: flex;
  justify-content: space-between;
}

.about {
  position: relative;
}

/* .lake {
  position: absolute;
  background-position: center;
  height: 100%;
  width: 100%;
  opacity: 0.1;
} */

.contentBx {
  max-width: 50%;
  padding: 30px;
}

.contentBx h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.w50 {
  max-width: 50%;
  height: 450px;
  padding: 30px;
}

.different-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.work .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.work .content .workBx {
  position: relative;
  height: 250px;
  width: 320px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work .content .workBx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2%;
  position: absolute;
  transition: transform 2s;
}

.work .content .workBx:hover img {
  transform: scale(1.1);
}

.work .content .workBx .details {
  transform: scaleY(0);
  transition: transform 0.5s;
}

.work .content .workBx:hover .details {
  transform: scaleY(1);
}

.work .content .workBx .details .content {
  text-align: center;
  padding: 15px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 2%;
}

.work .content .workBx .details .content p {
  font-size: 15px;
}

.contact {
  background-color: #111;
}

.contact .heading {
  color: #fff;
}

.contact .testContent {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contact .testContent .bxImg {
  position: relative;
  width: 300px;
  cursor: pointer;
}

.contact .testContent .bxImg img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 2%;
  transition: transform 2s;
  margin: 20px;
}

.contact .testContent .bxImg:hover img {
  transform: scale(1.1);
}

.pdf {
  display: none;
}

.pdfShow {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
  display: block;
}

.formBox {
  min-width: 60%;
}

.formBox form {
  display: flex;
  flex-direction: column;
}

.formBox form h3,
.contactInfo h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.formBox form input,
.formBox form textarea {
  margin-bottom: 20px;
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #222;
  color: #fff;
  resize: none;
}

.formBox form textarea {
  min-height: 200px;
}

.formBox form input::placeholder,
.formBox form textarea::placeholder {
  color: #999;
}

.formBox form input[type="submit"] {
  max-width: 100px;
  background-color: #2196f3;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.contactInfo {
  min-width: 40%;
}

.contactInfoBox {
  position: relative;
}

.contactInfoBox .box {
  position: relative;
  padding: 20px 0px;
  display: flex;
  align-items: baseline;
}

.contactInfoBox .box .icon {
  min-width: 40px;
  padding-top: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.contactInfoBox .box .text {
  min-width: 40px;
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  flex-direction: column;
  font-weight: 300;
}

.contactInfoBox .box .text h3 {
  margin-bottom: 0;
  color: #2196f3;
  font-weight: 500;
}

.messageSent {
  text-align: center;
  background-color: #79c879;
  padding: 10px;
  color: #fff;
  margin-bottom: 10px;
  display: none;
}

/*Responsive*/

@media (max-width: 900px) {

  header,
  header.sticky {
    padding: 20px 50px;
  }

  .menu {
    position: fixed;
    top: 75px;
    left: -100%;
    display: block;
    padding: 100px 50px;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    transition: 0.5s;
    z-index: 10;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }

  .menu.active {
    left: 0;
  }

  header ul li a {
    color: #111;
    font-size: 24px;
    margin: 10px;
  }

  .toggle {
    display: block;
    cursor: pointer;
    color: #fff;
  }

  header.sticky .toggle {
    color: #111;
  }

  section {
    padding: 100px 50px;
  }

  .banner {
    padding: 150px 50px 100px;
  }

  .banner h2 {
    font-size: 1.5em;
  }

  .banner h3 {
    font-size: 1em;
  }

  .btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }

  .heading h2 {
    font-weight: 600;
    font-size: 24px;
  }

  .face-img {
    max-width: 250px;
  }

  .heading h2 {
    font-size: 24px;
  }

  .contentBx h3 {
    font-size: 20px;
  }

  .content {
    align-items: center;
    flex-direction: column;
  }

  .w50 {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .work .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contentBx {
    max-width: 100%;
  }

  .contentBx p,
  .contentBx h3 {
    text-align: center;
  }

  .contactInfo {
    width: 100%;
  }

  .formBox {
    width: 100%;
    margin-top: 40px;
  }
}

@media (max-width: 600px) {

  header,
  header.sticky {
    padding: 20px 20px;
  }

  .banner {
    padding: 150px 20px 100px;
  }

  section {
    padding: 100px 20px;
  }

  .face-img {
    max-width: 200px;
  }

  header .logo {
    font-size: 15px;
  }

}

@media (max-width: 400px) {
  .banner {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .textBx {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  header {
    padding: 20px 15px;
  }

  .contact .testContent {
    display: block;
  }

  .contact .testContent .bxImg {
    width: auto;
    margin-top: 20px;
  }

  .contact .testContent .bxImg img {
    margin: 0px;
  }

  .work .content .workBx {
    height: 220px;
    width: 290px;
  }
}